/**
/conky/token.json
!/.gitignore

!/awesome
!/awesome/
!/backgrounds
!/backgrounds/*
!/conky
!/conky/**
!/fonts
!/fonts/**
!/kitty
!/kitty/**
!/ranger
!/ranger/**
!/nitrogen
!/nitrogen/**
!/htop
!/htop/**
!/install.sh

